
<div class="panel panel-default">
  <div class="panel-heading clearfix">
        <div class="row">
          </div>

        <div class="row">
          <div class="pull-right">
            <button class="btn btn-primary" type="submit">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
          </div>
  </div>
  <div class="panel-body">
    <p class="paragraph1">Email:{{contacts?.email}}</p>
    <p class="paragraph1">Phone:{{contacts?.phone}}</p>
  </div>
  </div>

<!--
<div class="row">
  <h1>Recipe Name</h1>
</div>
<div class="row">
<div class="col-xs-12">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">TO shopping list</a> </li>
      <li><a href="#">TO shopping list</a> </li>
      <li><a href="#">TO shopping list</a> </li>

    </ul>
  </div>
</div>
</div>

->>
<!--DROPDOWN MENU
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
Ingedients

  </div>
</div>
-->
